.px-1{
    padding-left : .25rem;
    padding-right: .25rem;
}
.px-2{
    padding-left : .5rem;
    padding-right: .5rem;
}
.px-3{
    padding-left : .75rem;
    padding-right: .75rem;
}

.py-1{
    padding-top : .25rem;
    padding-bottom: .25rem;
}
.py-2{
    padding-top : .5rem;
    padding-bottom: .5rem;
}
.py-3{
    padding-top : .75rem;
    padding-bottom: .75rem;
}

.font-medium{
    font-weight: 500;
}

.font-semibold{
    font-weight: 600;
}

.font-bold{
    font-weight: 700;
}
